<div class="container">
    <div id="bulb" class="row center-align" ng-if="0==1">
        <h5 ng-style="customStyle.style">
            @@<br>
            @@<br>
        </h5>
    </div>
    <div class="row card valign-wrapper">
      <div class="card-content">
        <h4>Lass die LEDs in deiner Farbe leuchten.</h4>
      </div>
    </div>
    <div class="row valign-wrapper">
            <div class="valign s12 m6">
                <color-picker ng-model="color" ng-init="color = '#007BB6'"></color-picker>
            </div>
      <div class="card col m6">
        <div class="col s12 red-text">
            RED
            <input type="number" id="redColor" ng-change="changeColor()" ng-model="red" value="" readonly>
        </div>
        <div class=" col s12 green-text">
            GREEN
            <input type="number" ng-model="green" ng-change="changeColor()" value="" readonly>
        </div>
        <div class="col s12 blue-text">
            Blue
            <input type="number" ng-model="blue" ng-change="changeColor()" value="" readonly>
        </div>
      </div>
    </div>
</div>
  <div class="container">
    <div class="row card">
      <div class="col s2 offset-s5">
        <p class="valign"><button class="btn waves-effect waves-light valign" ng-click="sendColor()" type="submit" id="led">Farbe setzen</button></p>
      </div>
    </div>
</div>
