<div class="container">
  <div id="bulb" class="row center-align" ><h5 ng-style="customStyle.style">
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
@@@@@@@@@@@@@<br>
</h5>
<h5>
||||||||||||||||<br>
||||||||||||||||<br>
||||||||||||||||<br>
||||||||||||||||<br>
||||||||||||||||<br>
||||||||||||||||<br></h5>
  </div>
  <div class="row">
    <div class="col s4 red-text">
      RED <input type="number" id="redColor" ng-change="changeColor()" ng-model="red" value="">
    </div>
    <div class=" col s4 green-text">
      GREEN <input type="number" ng-model="green" ng-change="changeColor()" value="">
    </div>
    <div class="col s4 blue-text">
      Blue <input type="number" ng-model="blue" ng-change="changeColor()" value="">
    </div>
  </div>
  <div class="row center-align">
      Welche LED soll gefärbt werden?
  </div>
  <div class="row center-align">
    <div class="col s6 m2 offset-m1">
      <button class="btn waves-effect waves-light" ng-click="sendColor(0)" type="submit" id="led1">1</button>
    </div>
    <div class="col s6 m2">
    <button class="btn waves-effect waves-light" ng-click="sendColor(1)" type="submit" id="led2">2</button>
    </div>
      <div class="col s6 m2">
      <button class="btn waves-effect waves-light" ng-click="sendColor(2)" type="submit" id="led3">3</button>
      </div>
      <div class="col s6 m2">
    <button class="btn waves-effect waves-light" ng-click="sendColor(3)" type="submit" id="led4">4</button>
      </div>
      <div class="col s12 m2">
      <button class="btn waves-effect waves-light" ng-click="sendColor(4)" type="submit" id="led5">5</button>
      </div>
  </div>
</div>
