<div class="container">
  <div class="row">
    Moin moin, hier kannst du deine Nachricht an die LED-Leiste bringen.
  </div>
  <div class="row">
    <form class="col s12" ng-submit="sendMessage()">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="messageContainer" class="materialize-textarea" ng-model="messageTextArea"></textarea>
          <label for="messageContainer">Deine Nachricht</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" id="messageSubmit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
