<div class="container">
  <div class="row">
    <div class="card hoverable col s12 m6">
      <div class="cart-content">
        <div class="left-align">
          <div class="row">
            <div class="col s3">
              Name:
            </div>
            <div class="col s9">
              Torben
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              Job:
            </div>
            <div class="col s9">
              Studium angewandte Informatik / Studentischer Mitarbeiter
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              Hobbys:
            </div>
            <div class="col s9">
              Dinge tun ... <br>
              Bouldern <br>
              Programmieren <br>
              Mit Hardware Unsinn treiben
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="card hoverable col s12 m6">
    <div class="cart-content">
      <div class="left-align">
        <div class="row">
          <div class="col s3">
            Name:
          </div>
          <div class="col s9">
            Jan
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            Job:
          </div>
          <div class="col s9">
            Studium angewandte Informatik / Studentischer Mitarbeiter / Ehemann
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            Hobbys:
          </div>
          <div class="col s9">
            Dinge tun ... <br>
            Programmieren <br>
            Mit Hardware Unsinn treiben
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>
