<div class="container">
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">LED</span>
              <p>Spiel ein wenig mit der LED rum.</p>
            </div>
            <div class="card-action">
              <a href="#/LED">Follow me >:D</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">MESSAGE</span>
              <p>Du hast was zu sagen? Dann schreib es!</p>
            </div>
            <div class="card-action">
              <a href="#/MESSAGE">Auf auf!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">SENSOR</span>
              <p>Temperatur? Luftfeuchtigkeit? Helligkeit? Das findest du hier.</p>
            </div>
            <div class="card-action">
              <a href="#/SENSOR">Data incoming!</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">SERVO</span>
              <p>Wie funktioniert der Kasten wohl? Probiers doch mal :D</p>
            </div>
            <div class="card-action">
              <a href="#/SERVO">Sie haben Post</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">SOUND</span>
              <p>Dingel dingel ding ding dong....</p>
            </div>
            <div class="card-action">
              <a href="#/SOUND">BASS!</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">KEKSE</span>
              <p>Keine Kekse, aber unser about ;D</p>
            </div>
            <div class="card-action">
              <a href="#/KEKSE">Das waren / sind wir</a>
            </div>
          </div>
        </div>
      </div>
</div>
