<div class="container">
  <div class="row" ng-if="!isAllowed">
  <div class="card">
    <div class="card-content">
      <h5 class="red-text">Du hast leider nur die Erlaubnis diese Seite anzugucken. Auch wenn du Buttons siehst, wird dir ein Klick darauf nichts nützen. Die Funktionen stehen für dich nicht zur Verfügung</h5>
    </div>
  </div>
</div>
  <div class="row">
    <div class="card col s12">
      <div class="card-content">
        <canvas id="line1" class="chart chart-line" chart-data="data1" chart-labels="labels" chart-series="series1" chart-options="options" chart-click="onClick">
        </canvas>
      </div>
    </div>
    <div class="card col s12">
      <div class="card-content">
        <canvas id="line2" class="chart chart-line" chart-data="data2" chart-labels="labels" chart-series="series2" chart-options="options" chart-click="onClick">
        </canvas>
      </div>
    </div>
    <div class="card col s12">
      <div class="card-content">
        <canvas id="line3" class="chart chart-line" chart-data="data3" chart-labels="labels" chart-series="series3" chart-options="options" chart-click="onClick">
        </canvas>
      </div>
    </div>
  </div>
</div>
