<div class="container">
  <div class="row" ng-if="!isAllowed">
    <div class="card">
      <div class="card-content">
        <h5 class="red-text">Du hast leider nur die Erlaubnis diese Seite anzugucken. Auch wenn du Buttons siehst, wird dir ein Klick darauf nichts nützen. Die Funktionen stehen für dich nicht zur Verfügung</h5>
      </div>
    </div>
  </div>
    <div class="card row">
      <div class="card-content">
        <h4>Moin moin, hier kannst du uns post schicken.</h4>
      </div>
    </div>
    <div class="row card">
      <div class="card-content">
        <div class="row">
          <div class="col s4">
            <div class="input-field">
              <input id="mailboxName" ng-model="mailboxName" type="text" class="validate">
              <label for="first_name">Name</label>
            </div>
          </div>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="mailboxContainer" class="materialize-textarea" ng-model="mailboxTextArea"></textarea>
          <label for="mailboxContainer">Deine Nachricht</label>
        </div>
      </div>
      <div class="card-action">
        <button class="btn waves-effect waves-light" ng-click="sendMessage()" id="messageSubmit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
</div>
