<div class="container">
  <div class="row" ng-if="!isAllowed">
    <div class="card">
      <div class="card-content">
        <h5 class="red-text">Du hast leider nur die Erlaubnis diese Seite anzugucken. Auch wenn du Buttons siehst, wird dir ein Klick darauf nichts nützen. Die Funktionen stehen für dich nicht zur Verfügung</h5>
      </div>
    </div>
  </div>
  <div class="card row">
    <div class="card-content">
      <h4>Want to play a bit Sound? Das kannst du hier versuchen ;)</h4>
    </div>
  </div>
  <div class="row">
    <div class="card col s3">
      <div class="card-content center-align">
        Das Ende ist nah!
      </div>
      <div class="card-action center-align">
          <a class="btn-floating btn-large waves-effect waves-light red" ng-click="play(0)"><i class="material-icons">play_arrow</i></a>
      </div>
    </div>

      <div class="card col s3">
        <div class="card-content center-align">
          Dueldie, dudelei...
        </div>
        <div class="card-action center-align">
            <a class="btn-floating btn-large waves-effect waves-light red" ng-click="play(1)"><i class="material-icons">play_arrow</i></a>
        </div>
      </div>

        <div class="card col s3">
          <div class="card-content center-align">
            BOOOM, BOOOM!
          </div>
          <div class="card-action center-align">
              <a class="btn-floating btn-large waves-effect waves-light red" ng-click="play(2)"><i class="material-icons">play_arrow</i></a>
          </div>
        </div>

          <div class="card col s3">
            <div class="card-content center-align">
              Lalalalala lalala lalalala
            </div>
            <div class="card-action center-align">
                <a class="btn-floating btn-large waves-effect waves-light red" ng-click="play(3)"><i class="material-icons">play_arrow</i></a>
            </div>
          </div>

  </div>
  <div class="row">
    <div class="card col s12">
      <div class="card-content row">
        <div class="col s12">
          Etwas aus der Collection :D
        </div>
        <div class="input-field col s12">
          <select ng-model="select">
            <option value="" disabled selected>Welchen titel?</option>
            <option  ng-repeat="x in allSongs" value="{{x}}">{{x}}</option>
          </select>
          <label>Such dir was aus</label>
        </div>
      </div>
      <div class="card-action center">
        <a class="btn waves-effect waves-light red" ng-click="play(4)"><i class="material-icons">play_arrow</i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-action row">
            <button class="btn waves-effect waves-light red col s2 offset-s5" ng-click="stop()" id="messageSubmit">
              Stop
              <i class="material-icons right">stop</i>
            </button>
      </div>
    </div>
  </div>
</div>
